---

---

<div class="cursor-pointer" id="menuIcon">
	<svg width="22" height="15" viewBox="0 0 22 15" fill="white" xmlns="http://www.w3.org/2000/svg">
		<path d="M1 1.39H21H1ZM1 7.39H21H1ZM1 13.39H21H1Z" fill="white"></path>
		<path d="M1 1.39H21M1 7.39H21M1 13.39H21" stroke="#3A1E8C" stroke-width="2" stroke-linecap="round"
		></path>
	</svg>
</div>

