---
import AboutPic from '../assets/ABoutUs.webp';
---

<div class="px-[20px] py-[40px] md:px-[32px] lg:px-[70px] lg:py-[120px] flex flex-col gap-[20px] lg:flex-row  text-white">
    <img src={AboutPic.src} class="lg:w-[50%]"/>
    <div class="bg-[#392A48] p-[20px] md:p-[32px] lg:p-[64px] rounded-[20px] space-y-[20px] lg:w-[50%] lg:flex lg:flex-col lg:justify-center">
        <h1 class="text-[28px] md:text-[32px] lg:text-[40px] font-bold mb-[40px]">About Us</h1>
        <p>
            Welcome to Vaaradhi Farms! I am Nethra and I am extremely passionate about healthy living and sustainable food practices. 
        </p>
        <p>
            I am committed to making a positive impact on the world through our business. I hope that you'll join us on this journey towards healthy living and sustainable food practices.
        </p>
        <p>Thank you for choosing our organic food products, and I look forward to serving you soon.</p>
    </div>

</div>
