---

import itemOne from '../assets/ItemTwo.webp';
---

<div id="downmenu" class="hidden fixed  h-screen w-screen  p-[10px] flex justify-end items-end  z-40 bottom-0 bg-[#00000040] ">
    <div class="w-full  md:w-[528px] rounded-[10px] bg-white py-[20px]  ">
        <div class="flex p-[24px] border-b-22 border-[#1a1a1a20]">
            <img class="w-[100px] rounded-md mr-[20px] " src={itemOne.src} />
            <div>
                <p class="font-lora font-bold text-[18px]">Natural Honey</p>
                <p class="text-[#000000B3] text-[18px]">Rs 900.00</p>
            </div>
            <svg id="close" class="h-[25px] w-[25px] ml-auto cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path fill="#000000b3"
                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                ></path></svg
            >
        </div>
        <div class="p-[24px] ">
            <span class="inline-block mr-0">&#x2B50;</span>
            <span class="inline-block mr-0">&#x2B50;</span>
            <span class="inline-block mr-0">&#x2B50;</span>
            <span class="inline-block mr-0">&#x2B50;</span>
            <span class="inline-block mr-0">&#x2B50;</span>
            <span class="font-lora ml-1">1183 reviews</span>

            <button class="mt-[30px] cursor-pointer block w-full bg-[#25693f] font-lora font-bold py-[12px] text-white rounded-full">Add to Cart</button>
        </div>
    </div>
</div>

<script>
    const close=document.getElementById('close')
    close?.addEventListener('click',function(){
        document.getElementById('downmenu')?.classList.add('hidden')
    })

</script>